
################################################
## fNonlinear
################################################


################################################
## useDynLib
################################################

useDynLib("fNonlinear")


################################################
## import name space
################################################

import("timeDate")
import("timeSeries")
import("fBasics")

importFrom("methods", new)
importFrom("stats", as.formula, embed, lm, pchisq, pf, pnorm,
	prcomp, residuals, runif, sd, ts)


################################################
## functions
################################################

exportPattern(".")


